* {
    margin: 0;
    padding: 0;
}

.slideshow,
.spot,
.new001,
.new002,
.new003,
.new004,
.new005,
.new006,
.new007,
.new008,
.new009 {
    margin-left: 22px;
}

.slideshow {
    position: relative;
    width: 650px;
    height: 290px;
}

.left {
    float: left;
    width: 500px;
    height: 290px;
}

.left img {
    position: absolute;
}

.left h3,
.left span {
    position: relative;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-top: 240px;
    line-height: 25px;
}

.left span {
    font-size: 10px;
}

.right_top,
.right_bottom {
    position: relative;
    float: right;
    width: 140px;
    height: 140px;
    margin-bottom: 10px;
}

.right_top span,
.right_bottom span {
    position: absolute;
    margin-top: 100px;
    left: 0;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.part {
    position: absolute;
}

.spot {
    width: 90px;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.spot span {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
    background-color: rgb(204, 204, 204);
}

.spot span:hover {
    background-color: rgb(250, 125, 60);
}

.new001,
.new002,
.new003,
.new004,
.new005 {
    width: 650px;
    border-bottom: 1px solid rgb(229, 229, 229);
    height: 130px;
}

.newImg {
    width: 180px;
    height: 120px;
    float: left;
}

.new_right_top>span {
    width: 460px;
    height: 44px;
    font-size: 13px;
    color: rgb(51, 51, 51);
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 24px;
    margin: 10px auto;
}

.new_right_top>span>span {
    color: rgb(235, 115, 80);
}

.new_right_bottom span {
    color: rgb(128, 128, 128);
    font-size: 12px;
}

.right_bottom_left {
    float: left;
}

.right_bottom_right {
    float: right;
    margin: 7px 3px 10px 12px;
}

.right_bottom_right>div {
    display: inline-block;
    vertical-align: middle;
}

.right_bottom_left>img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 10px 3px 10px 12px;
    border-radius: 50%;
}

.new_icon1 {
    background-image: url("../images/new_icon1.jpg");
    width: 20px; 
    height: 20px;
}

.new_icon2 {
    background-image: url("../images/new_icon2.jpg");
    width: 20px; 
    height: 20px;
}

.new_icon3 {
    background-image: url("../images/new_icon3.jpg");
    width: 20px; 
    height: 20px;
}

.new_icon1:hover {
    background-image: url("../images/new_icon1_hover.jpg");
}

.new_icon2:hover {
    background-image: url("../images/new_icon2_hover.jpg");
}

.new_icon3:hover {
    background-image: url("../images/new_icon3_hover.jpg");
} 