* {
    margin: 0;
    padding: 0;
}

.slideshow,
.spot,
.new001,
.new002,
.new003,
.new004,
.new005,
.new006,
.new007,
.new008,
.new009 {
    margin-left: 22px;
}

.slideshow {
    position: relative;
    width: 650px;
    height: 290px;
}

.left {
    float: left;
    width: 500px;
    height: 290px;
}

.left img {
    position: absolute;
}

.left h3,
.left span {
    position: relative;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-top: 240px;
    line-height: 25px;
}

.left span {
    font-size: 10px;
}

.right_top,
.right_bottom {
    position: relative;
    float: right;
    width: 140px;
    height: 140px;
    margin-bottom: 10px;
}

.right_top span,
.right_bottom span {
    position: absolute;
    margin-top: 100px;
    left: 0;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.part {
    position: absolute;
}

.spot {
    width: 90px;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.spot span {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    margin:0 5px;
    display: inline-block;
    cursor: pointer;
    background-color: rgb(204, 204, 204);
}

.spot span:hover {
    background-color: rgb(250, 125, 60);
}

.new001,
.new002,
.new003,
.new004,
.new005,
.new006,
.new007,
.new008,
.new009 {
    width: 650px;
    border-bottom: 1px solid indigo;
    height: 220px;
}

.new001 video {
    width: 325px;
    height: 220px;
}