* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.nav_top {
    width: 100%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    height: 50px;
    border-top: 2px solid;
    border-top-color: rgb(250, 125, 65);
    box-shadow: 3px 3px 3px rgb(218, 218, 218);
}

.nav_content {
    margin: 0 auto;
    height: 50px;
    width: 1300px;
}

.logo {
    float: left;
    background-image: url("../images/logo.jpg");
    width: 133px;
    height: 50px;
}

.search {
    float: left;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(242, 242, 245);
    width: 23vw;
    height: 27px;
    margin: 10px;
    min-width: 200px;
}

.input_text {
    margin-left: 10px;
    float: left;
    margin-top: 3.4px;
    border: 0px;
    width: 10vw;
    min-width: 70px;
    line-height: 20px;
    background-color: rgb(242, 242, 245);
}

.search_icon:hover {
    background-image: url("../images/orange_search_icon.jpg");
}

.search_icon {
    float: right;
    width: 40px;
    height: 27px;
    background-image: url("../images/search_icon.jpg");
}

.list_top {
    margin-left: 12vw;
    list-style: none;
    float: left;
}

.list_top li {
    float: left;
}

.list_top a {
    display: inline-block;
    width: 80px;
    height: 45px;
}

.list_top .home {
    background-image: url("../images/home_img.jpg");
    background-repeat: no-repeat;
}

.find:hover {
    background-image: url("../images/hover_find.jpg");
    background-repeat: no-repeat;
}

.video {
    background-image: url("../images/video_img.jpg");
    background-repeat: no-repeat;
}


.find {
    background-image: url("../images/find_img.jpg");
    background-repeat: no-repeat;
}

.game {
    background-image: url("../images/game_img.jpg");
    background-repeat: no-repeat;
}

.sign_in {
    padding-left: 13px;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    color: rgb(51, 51, 51);
}

.ver_string {
    padding: 0 10px;
    color: rgb(217, 217, 217);
}

.log_in {
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    color: rgb(51, 51, 51);
}

.sign_in:hover,
.log_in:hover {
    color: rgb(235, 115, 80);
}

.next {
    width: 1230px;
    margin: 0 auto;
}

.toolbar {
    margin-top: 70px;
    list-style: none;
    width: 120px;
    position: fixed;
}

.content {
    margin-top: 70px;
    width: 700px;
    height: 100%;
    float: left;
    margin-left: 120px;
}

.login {
    margin-top: 70px;
    width: 350px;
    height: 1200px;
    border: 1px solid khaki;
    float: left;
}

.right_bar {
    margin-left: 1200px;
    margin-top: 70px;
    width: 40px;
    height: 100%;
    position: fixed;
}



.toolbar li {
    height: 40px;
    text-align: center;
}

.toolbar a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 40px;
    color: black;
    width: 110px;
    height: 40px;
    border-radius: 5px;
}

.toolbar li a:focus,
.toolbar li a:hover {
    background-image: linear-gradient(to right, rgb(251, 54, 48), rgb(254, 85, 53)100%);
    color: white;
}

.toolbar li a.active {
    background-image: linear-gradient(to right, rgb(251, 54, 48), rgb(254, 85, 53)100%);
    color: white;
}