* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.clock {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 100px auto;
    background-image: url(../images/clock.png);
}

.clock li {
    position: absolute;
}

.hour img {
    transform: rotate(720deg);
}

.init img {
    transition: transform 86400s linear;
}

.minute img {
    transform: rotate(8640deg);
}

.clock .init img {
    transition: transform 86400s linear;
}

.second img {
    transform: rotate(518400deg);
}

.clock .init img {
    transition: transform 86400s linear;
}